<div class="navbar">
    <div>
      <button *ngIf="!(authStateService.authState$ | async)?.isAuthenticated" (click)="login()">Login</button>
      <button *ngIf="(authStateService.authState$ | async)?.isAuthenticated" (click)="logout()">Logout</button>
    </div>
    <div>
      GraphQL Angular App
    </div>
    <nav>
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/browse" routerLinkActive="active">Browse</a></li>
        </ul>
      </nav>
</div>